<div 
  class="bubble-container" 
  [ngClass]="serviceColorClass"
  [style.width.px]="size" 
  [style.height.px]="size"
  cdkDrag
  (cdkDragEnded)="onDragEnd($event)"
  (click)="onBubbleClick($event)"
  
  mwlResizable
  [resizeEdges]="{bottom: true, right: true, bottomRight: true}"
  [enableGhostResize]="true"
  [minWidth]="MIN_SIZE"
  [minHeight]="MIN_SIZE"
  [maxWidth]="MAX_SIZE"
  [maxHeight]="MAX_SIZE"
  (resizeEnd)="onResizeEnd($event)"
>
  <div class="bubble" [style.width.px]="size" [style.height.px]="size">
    <span class="bubble-name">{{ project.name }}</span>
    <span class="bubble-service">{{ project.service }}</span>
    
    <!-- ngx-resizable automatically creates handles based on [resizeEdges] -->
  </div>
</div>