<div
  class="bubble-container"
  [ngClass]="serviceColorClass"
  [style.width.px]="size"
  [style.height.px]="size"
  [style.left.px]="-size / 2"
  [style.bottom.px]="-size / 2"
  cdkDrag
  [cdkDragLockAxis]="axisLock"
  (cdkDragEnded)="onDragEnd($event)"
  (dblclick)="onBubbleClick($event)"
  (mouseenter)="onMouseEnter()"
>
  <div class="bubble" [style.width.px]="size" [style.height.px]="size"></div>

  <div class="bubble-label" [style.bottom.px]="size + 8">
    <span class="bubble-name">{{ project.name }}</span>
    <span class="bubble-service">{{ project.service }}</span>
  </div>

  <!-- Resize handle in bottom-right corner -->
  <div
    class="resize-handle bottom-right"
    (mousedown)="onResizeStart($event)"
    [class.resizing]="isResizing"
  ></div>
  <div
    class="resize-handle bottom-left"
    (mousedown)="onResizeStart($event)"
    [class.resizing]="isResizing"
  ></div>
  <div
    class="resize-handle top-left"
    (mousedown)="onResizeStart($event)"
    [class.resizing]="isResizing"
  ></div>
  <div
    class="resize-handle top-right"
    (mousedown)="onResizeStart($event)"
    [class.resizing]="isResizing"
  ></div>
</div>
